<lib-header [showPoolsMenu]="true" [needWallet]="true" [vpDiff]="getVpDiff()"
    [network]="boot.chainConfig?boot.chainConfig.name:'Unsupport Network'"
    [account]="boot.accounts.length>0?boot.accounts[0]:''" (chooseWallet)="chooseWallet()"
    (connectWallet)="connectWallet()" #header></lib-header>
<div class="bodyMaxDiv">
    <div class="bodycenterDiv">
        <div class="centerDiv">
            <div class="contentDiv">
                <div class="tableDiv">
                    <!-- 导航区 -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation"><a href="#" (click)="changeTab(0)" role="tab" data-toggle="tab" [ngClass]="{active: curTab==0}">兑换</a></li>
                        <li role="presentation"><a href="#" (click)="changeTab(1)" role="tab" data-toggle="tab" [ngClass]="{active: curTab==1}">增加流动性</a></li>
                        <li role="presentation"><a href="#" (click)="changeTab(2)" role="tab" data-toggle="tab" [ngClass]="{active: curTab==2}">取出流动性</a></li>
                    </ul>
                    <div class="tab-content">
                        <app-swap-comp [hidden]="curTab!=0" (loading)="header.onLoading()" (loaded)="header.onLoaded()"
                            id="swap">
                        </app-swap-comp>
                        <app-addliquidity-comp [hidden]="curTab!=1" (loading)="header.onLoading()"
                            (loaded)="header.onLoaded()" id="addLiquidity">
                        </app-addliquidity-comp>
                        <app-redeemliquidity-comp [hidden]="curTab!=2" (loading)="header.onLoading()"
                            (loaded)="header.onLoaded()" id="redeemLiquidity">
                        </app-redeemliquidity-comp>
                    </div>
                </div>
            </div>
        </div>
        <app-pool-info></app-pool-info>
    </div>
</div>