.myBtn {
  padding: 0.7em;
  vertical-align: middle;
  background: linear-gradient(139deg, #7FB5FF 0%, #3489FF 100%);
  box-shadow: 4px 17px 21px 0px rgba(163, 202, 255, 0.72);
  border-radius: 12px;
  font-size: 12px;
  color: #ffffff;
}
.myBtn-disabled {
  background: #D4DDE9;
  border-radius: 12px;
  font-size: 12px;
  color: #ffffff;
  padding: 0.7em;
  vertical-align: middle;
}
