<div class="homeDiv">
    <div class="header">
     <div class="headerCenter">
      <div class="logoDiv">
        <img src="assets/img/home/logo_home.png" alt="">
      </div>
      <div class="langDiv">
        <!-- <img src="assets/img/home/lang_en.png" alt=""> -->
      </div>
     </div>
    </div>
    <div class="body">
      <div class="bodyCenter">
        <div class="tlttle">
          <p>bow.finance (BOW) uses an automatic market maker mechanism to serve the Heco chain stablecoin flash swap platform</p>
        </div> 
        <div class="IntroductionDiv">
          <div class="leftPart">
            <div class="titleImg">
              <p>Description</p>
            </div>
            <div class="textDiv">
              <p>Bow.finance is an open-source, automated market maker (AMM) mechanism designed to enable token swaps between stablecoins on Huobi ECO Chain (Heco), which ensures our swaps have low fees and minimal price slippage. Combining efficient, decentralized stablecoin swaps on Heco with multi-stablecoin “savings accounts, bow.finance also lets users add funds to the protocol’s liquidity to earn interest.</p>
             <p> Bow.finance will launch BOW, a governance token that will allow holders to decide on bow.finance's future, in 2021.</p>
            </div>
          </div>
          <div class="rightPart">
            <img src="assets/img/home/logo_big.png" alt="">
          </div>
        </div>
        <div class="footerDiv">
          <div class="leftPart">
            <div class="contactTittle">
              <div class="imgDiv"></div>
              <p>contact us</p>
            </div>
            <div>
              <img src="assets/img/home/QR_code.png" alt="">
            </div>
            
          </div>
          <div class="rightPart">
            <ul>
              <li><a href="https://github.com/BowFinance" target="_blank"></a></li>
              <li><a href="https://t.me/bowfinance" target="_blank"></a></li>
              <li><a href="https://medium.com/@bowfinance" target="_blank"></a></li>
              <li><a href="https://twitter.com/bowfinance?s=21" target="_blank"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>