<div class="homeDiv">
    <div class="header">
        <div class="headerCenter">
            <div class="logoDiv">
                <img src="assets/img/home/logo_home.png" alt="">
            </div>
            <div class="langDiv">
                <!-- <img src="assets/img/home/lang_en.png" alt=""> -->
            </div>
            <div class="leftpart">
                <p class="menu_p">Menu</p> 
                <div class="xialaBtn">
                    <div class="dropdown">
                        <button type="button" class="" data-toggle="dropdown"></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/p1">
                                <img src="assets/img/pool.png" alt="">&nbsp;
                                <span>{{"Pool 1"|translate}}</span>
                            </a>
                            <a class="dropdown-item" href="/p2">
                                <img src="assets/img/pool.png" alt="">&nbsp;
                                <span>{{"Pool 2"|translate}}</span>
                            </a>
                            <a class="dropdown-item" href="/stake1">
                                <img src="assets/img/pool.png" alt="">&nbsp;
                                <span>{{"Stake & Reward"|translate}} of Pool1</span>
                            </a>
                            <a class="dropdown-item" href="/stake2">
                                <img src="assets/img/pool.png" alt="">&nbsp;
                                <span>{{"Stake & Reward"|translate}} of Pool2</span>
                            </a>
                            <a class="dropdown-item" href="/faucet1">
                                <img src="assets/img/pool.png" alt="">&nbsp;
                                <span>Faucet of Pool1</span>
                            </a>
                            <a class="dropdown-item" href="/faucet2">
                                <img src="assets/img/pool.png" alt="">&nbsp;
                                <span>Faucet of Pool2</span>
                            </a>
                            <!-- <a class="dropdown-item" href="#">
                                <img src="assets/img/zhinan.png" alt="">
                                <span>{{"Tutorial"|translate}}</span>
                            </a> -->
                            <a class="dropdown-item" href="#" *ngIf="lang.curLanguage.indexOf('en')===0"
                                (click)="changeLang(lang.curLanguage.indexOf('zh')===0?'en':'zh')">
                                <img src="assets/img/cn.png" alt="">&nbsp;
                                <span>中文</span>
                            </a>
                            <a class="dropdown-item" href="#" *ngIf="lang.curLanguage.indexOf('zh')===0"
                                (click)="changeLang(lang.curLanguage.indexOf('zh')===0?'en':'zh')">
                                <img src="assets/img/en.png" alt="">&nbsp;
                                <span>English</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="bodyCenter">
            <div class="tlttle">
                <p>Bow.finance the Heco chain stablecoin flash swap </p>
            </div>
            <div class="IntroductionDiv">
                <div class="leftPart">
                    <div class="titleImg">
                        <p>Description</p>
                    </div>
                    <div class="textDiv">
                        <p>Bow.finance is an open-source, automated market maker (AMM) mechanism designed to enable
                            token swaps between stablecoins on Huobi ECO Chain (Heco), which ensures our swaps have low
                            fees and minimal price slippage. Combining efficient, decentralized stablecoin swaps on Heco
                            with multi-stablecoin “savings accounts, bow.finance also lets users add funds to the
                            protocol’s liquidity to earn interest.</p>
                        <p> Bow.finance will launch BOW, a governance token that will allow holders to decide on
                            bow.finance's future, in 2021.</p>
                    </div>
                </div>
                <div class="rightPart">
                    <img src="assets/img/home/logo_big.png" alt="">
                </div>
            </div>
            <div class="footerDiv">
                <div class="leftPart">
                    <div class="contactTittle">
                        <div class="imgDiv"></div>
                        <p>Contact us</p>
                    </div>
                    <div>
                        <img src="assets/img/home/QR_code.png" alt="">
                    </div>

                </div>
                <div class="rightPart">
                    <ul>
                        <li><a href="https://github.com/BowFinance" target="_blank"></a></li>
                        <li><a href="https://t.me/bowfinance" target="_blank"></a></li>
                        <li><a href="https://medium.com/@bowfinance" target="_blank"></a></li>
                        <li><a href="https://twitter.com/bowfinance?s=21" target="_blank"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>