@charset "UTF-8";
/*css 初始化 */

/*清除浮动*/
.clearfix:after {
  display: block;
  content: "";
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
}
a {
  color: #666;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a:hover {
  color: #417df8;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}
s,
i,
em {
  font-style: normal;
  text-decoration: none;
}
.w {
  margin: 0 0.14rem;
}
.l {
  float: left;
}
.r {
  float: right;
}
.Theme-bgc {
  background-color: #0095ff;
}
.Theme-bgc-gray {
  background-color: #dadada;
}
.ThemeColor {
  color: #0095ff !important;
}
.ThemeColor-gray {
  color: #9197A0;
}
.tabBanner-bgc {
  background-color: #fff;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
}
header ul.tabBanner {
  height: 0.6rem;
  display: flex;
  flex-flow: nowrap;
  justify-content: space-around;
  align-items: center;
}
header ul.tabBanner li {
  flex: 1;
  float: left;
  height: 100%;
}
header ul.tabBanner li a {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  color: #dadada;
  font-size: 0.12rem;
  padding-top: 0.1rem;
}
header ul.tabBanner li a img {
  width: 0.22rem;
  height: 0.22rem;
  display: inline-block;
}
.btnC {
  width: 3.45rem;
  height: 0.5rem;
  font-size: 0.22rem;
  line-height: 0.5rem;
  border-radius: 0.05rem;
  color: #ffffff;
  margin-top: 0.3rem;
}
.backIcon {
  width: 0.23rem;
  height: 0.19rem;
  background: url("/swft-v3/swft-v3-m/images/Back@3x.png") no-repeat;
  -webkit-background-size: 0.23rem 0.19rem !important;
  background-size: 0.23rem 0.19rem;
  display: block;
  margin-left: 0.3rem;
  cursor: pointer;
}
.backIcon-close {
  width: 0.3rem;
  height: 0.3rem;
  background: url("/swft-v3/swft-v3-m/images/Close_Black@3x.png") no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  display: block;
  margin-left: 0.3rem;
  cursor: pointer;
}
.tipIcon {
  width: 0.2rem;
  height: 0.2rem;
  background: url("/swft-v3/swft-v3-m/images/tip.png") no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  display: block;
  cursor: pointer;
}
.backIcon_white {
  width: 0.23rem;
  height: 0.19rem;
  background: url("/swft-v3/images/Back-white.png") no-repeat;
  -webkit-background-size: 0.23rem 0.19rem !important;
  background-size: 0.23rem 0.19rem;
  display: block;
  margin-left: 0.3rem;
  cursor: pointer;
}
.fontColor {
  color: #6b737f;
  font-weight: 700;
}
.fontColor_000 {
  color: #000;
  font-weight: 700;
}
.fs_14 {
  font-size: 0.14rem !important;
}
.fs_16 {
  font-size: 0.16rem !important;
}
.fs_18 {
  font-size: 0.18rem !important;
}
.fs_20 {
  font-size: 0.2rem !important;
}
.fs_22 {
  font-size: 0.22rem !important;
}
.fs_24 {
  font-size: 0.24rem !important;
}
.mt_10 {
  margin-top: 0.1rem !important;
}
.mtb_10 {
  margin: 0.1rem 0 !important;
}
.next {
  width: 0.23rem;
  height: 0.23rem;
  background: url("/swft-v3/images/next.png") no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  display: inline-block;
  float: right;
}
.prev {
  width: 0.23rem;
  height: 0.23rem;
  background: url("/swft-v3/images/prev_black.png") no-repeat;
  -webkit-background-size: 100% !important;
  background-size: 100% !important;
  display: inline-block;
  float: left;
}
.redspan {
  color: #db1b39;
}
.greenspan {
  color: #4dc139 !important;
}
input:focus {
  color: #417df8;
}
input::-webkit-input-placeholder,
input:-ms-input-placeholder {
  color: #dadada;
}
.active {
  display: block !important;
}
#cnzz_stat_icon_1271423861 {
  display: none;
}
.layui-m-layerbtn span a {
  display: block !important;
}
.empty-icon {
  width: 0.18rem;
  height: 0.18rem;
  background: url("/swft-v3/images/Clear@3x.png") no-repeat;
  background-size: 100%;
  -webkit-background-size: 100%;
  display: none;
}
.show_inline {
  display: inline-block !important;
}
.show_block {
  display: block !important;
}
.hide {
  display: none !important;
}
