<div class="poolDiv">
    <div class="assetDiv">
        <div class="main">
            <div class="tittle">
                <div></div>
                <p>货币储备</p>
            </div>
            <div class="consinfo">
                <ul>
                    <li *ngFor="let coin of boot.coins;let i=index">
                        <p><em class="coinName">HBTC:</em> <em class="coinVal">0.237291</em></p>
                        <span>23%</span>
                    </li>
                    <li *ngFor="let coin of boot.coins;let i=index">
                        <p><em class="coinName">HBTC:</em> <em class="coinVal">0.237291</em></p>
                        <span>23%</span>
                    </li>
                    <li *ngFor="let coin of boot.coins;let i=index">
                        <p><em class="coinName">HBTC:</em> <em class="coinVal">0.237291</em></p>
                        <span>23%</span>
                    </li>
                </ul>
            </div>
            <div class="sum">
                <p>HBTC+wBTC+renBTC：</p>
                <p>236172863.37</p>
            </div>
        </div>
    </div>
</div>