<div class="assetDiv">
    <div class="main">
        <div class="tittle">
            <div></div>
            <p>User's Info</p>
        </div>
        <div class="sum" *ngFor="let coin of boot.coins;let i=index">
            <div>{{coin.symbol}}:</div>
            <div>{{boot.balance.coinsBalance[i].toFormat(4,1)}}</div>
        </div>
        <div class="sum">
            <div>{{boot.liquiditySymbol}}:</div>
            <div>{{boot.balance.lp.toFormat(4,1)}}</div>
        </div>
        <div class="sum">
            <div>Volume Reward {{boot.tokenSymbol}}:</div>
            <div>{{boot.balance.volReward.toFormat(4,1)}}</div>
        </div>
        <div class="sum">
            <div>Farming Reward {{boot.tokenSymbol}}:</div>
            <div>{{boot.balance.farmingReward.toFormat(4,1)}}</div>
        </div>
        <div class="sum">
            <div>{{boot.tokenSymbol}}:</div>
            <div>{{boot.balance.tokenBalance.toFormat(4,1)}}</div>
        </div>
        <div class="sum">
            <div>Staking LP:</div>
            <div>{{boot.balance.stakingLP.toFormat(4,1)}}</div>
        </div>
        <div class="sum">
            <div>Volume:</div>
            <div>{{boot.balance.volume.toFormat(4,1)}}</div>
        </div>
    </div>
</div>