<div role="tabpanel" class="tab-pane" id="profile">
    <!-- 增加流动性 -->
    <div class="addLiquiDiv">
        <div class="main">
            <div class="coinDiv" *ngFor="let coin of boot.coins;let i=index;">
                <div class="firstPart">
                    <div>
                        <img src="assets/img/coin/{{boot.poolId}}-c{{i}}.png" alt="">
                        <span>{{coin.symbol}}</span>
                    </div>
                    <div>
                        <!-- <span>余额</span> -->
                        <span>{{boot.balance.coinsBalance[i].toFixed(9)}}</span>
                        <!-- <span>HBTC</span> -->
                    </div>
                </div>
                <div class="second">
                    <input type="number" name="{{coin.symbol}}Amt" [ngModel]="amts[i]" (ngModelChange)="amtChange(i,$event)"
                    placeholder="{{'Enter an amount'|translate}}">
                    <button class="ifApprove" style="margin-bottom: 1em;"
                        [ngClass]="{myBtn:isApproveEnabled(i),'myBtn-disabled':!isApproveEnabled(i)||loadStatus===1}"
                        (click)="approve(i)"
                        [disabled]="!isApproveEnabled(i)||loadStatus===1">{{'Approve'|translate}}</button>
                </div>
            </div>

            <!-- <div class="coinDiv">
                <div class="firstPart">
                    <div>
                        <img src="assets/img/coin/renBTC.png" alt="">
                        <span>renBTC</span>
                    </div>
                    <div>
                        <span>余额</span>
                        <span>6741</span>
                        <span>renBTC</span>
                    </div>
                </div>
                <div class="second">
                    <input type="number" name="" placeholder="请输入数量">
                    <button class="approve">同意划转</button>
                </div>
            </div>

            <div class="coinDiv">
                <div class="firstPart">
                    <div>
                        <img src="assets/img/coin/wBTC.png" alt="">
                        <span>wBTC</span>
                    </div>
                    <div>
                        <span>余额</span>
                        <span>6741</span>
                        <span>wBTC</span>
                    </div>
                </div>
                <div class="second">
                    <input type="number" name="" placeholder="请输入数量">
                    <button class="approve">同意划转</button>
                </div>
            </div> -->
        </div>
        <div class="butDiv">
            <button *ngIf="boot.accounts.length>0" (click)="addLiquidity()"
                [disabled]="!isAddLiquidityBtnEnabled()||loadStatus===1"
                [ngClass]="{myBtn: isAddLiquidityBtnEnabled(),'myBtn-disabled':!isAddLiquidityBtnEnabled()||loadStatus===1}">{{'Add
                Liquidity'|translate}}</button>
            <button *ngIf="boot.accounts.length==0" (click)="connectWallet()" class="myBtn">{{'Connect to a
                    Wallet'|translate}}</button>
        </div>
    </div>
</div>