<div role="tabpanel" class="tab-pane" id="profile">
    <!-- 增加流动性 -->
    <div class="addLiquiDiv">
        <div class="main">
            <div class="coinDiv">
                <div class="firstPart">
                    <div>
                        <img src="assets/img/coin/HBTC.png" alt="">
                        <span>HBTC</span>
                    </div>
                    <div>
                        <span>余额</span>
                        <span>6741</span>
                        <span>HBTC</span>
                    </div>
                </div>
                <div class="second">
                    <input type="number" name="" placeholder="请输入数量">
                    <button class="approve">同意划转</button>
                </div>
            </div>

            <div class="coinDiv">
                <div class="firstPart">
                    <div>
                        <img src="assets/img/coin/renBTC.png" alt="">
                        <span>renBTC</span>
                    </div>
                    <div>
                        <span>余额</span>
                        <span>6741</span>
                        <span>renBTC</span>
                    </div>
                </div>
                <div class="second">
                    <input type="number" name="" placeholder="请输入数量">
                    <button class="approve">同意划转</button>
                </div>
            </div>

            <div class="coinDiv">
                <div class="firstPart">
                    <div>
                        <img src="assets/img/coin/wBTC.png" alt="">
                        <span>wBTC</span>
                    </div>
                    <div>
                        <span>余额</span>
                        <span>6741</span>
                        <span>wBTC</span>
                    </div>
                </div>
                <div class="second">
                    <input type="number" name="" placeholder="请输入数量">
                    <button class="approve">同意划转</button>
                </div>
            </div>
        </div>
        <div class="butDiv">
            <button>增加流动性</button>
        </div>
    </div>
</div>