.myBtn {
  padding: 0.7em;
  vertical-align: middle;
  background: linear-gradient(139deg, #7FB5FF 0%, #3489FF 100%);
  box-shadow: 4px 17px 21px 0px rgba(163, 202, 255, 0.72);
  border-radius: 12px;
  font-size: 12px;
  color: #ffffff;
}
.myBtn-disabled {
  background: #D4DDE9;
  border-radius: 12px;
  font-size: 12px;
  color: #ffffff;
  padding: 0.7em;
  vertical-align: middle;
}
.approve {
  padding: 0.7em;
  vertical-align: middle;
  background: linear-gradient(139deg, #7FB5FF 0%, #3489FF 100%);
  box-shadow: 4px 17px 21px 0px rgba(163, 202, 255, 0.72);
  border-radius: 12px;
  font-size: 12px;
  color: #ffffff;
}
.approve-disabled,
.btn-disabled {
  background: #D4DDE9;
  border-radius: 12px;
  font-size: 12px;
  color: #ffffff;
  padding: 0.7em;
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  .tab-pane .addLiquiDiv {
    height: auto;
    width: 100%;
    position: relative;
  }
  .tab-pane .addLiquiDiv .main {
    width: 95%;
    margin: 0 auto;
    padding-top: 5px;
  }
  .tab-pane .addLiquiDiv .main .coinDiv {
    border-radius: 16px;
    margin-bottom: 18px;
    height: 100px;
    background: linear-gradient(130deg, #ECF3FA 0%, #E3EDF7 100%);
    box-shadow: 3px 4px 4px 2px rgba(128, 152, 176, 0.2), -10px -6px 15px 0px #F3F9FF;
    border-radius: 18hhhhpx;
  }
  .tab-pane .addLiquiDiv .main .coinDiv .firstPart {
    width: 90%;
    height: 48px;
    margin: 0px auto;
    line-height: 45px;
  }
  .tab-pane .addLiquiDiv .main .coinDiv .firstPart div:nth-child(1) {
    float: left;
  }
  .tab-pane .addLiquiDiv .main .coinDiv .firstPart div:nth-child(1) img {
    width: 30px;
    margin-top: -3px;
    margin-right: 8px;
  }
  .tab-pane .addLiquiDiv .main .coinDiv .firstPart div:nth-child(1) span {
    font-size: 16px;
    font-family: "PingFangSC-Medium, PingFang SC";
    font-weight: 500;
    color: #000000;
    display: inline-block;
  }
  .tab-pane .addLiquiDiv .main .coinDiv .firstPart div:nth-child(2) {
    float: right;
    font-family: "PingFangSC-Regular, PingFang SC";
    font-weight: 400;
  }
  .tab-pane .addLiquiDiv .main .coinDiv .firstPart div:nth-child(2) span:nth-child(1) {
    font-size: 14px;
    color: #000000;
  }
  .tab-pane .addLiquiDiv .main .coinDiv .firstPart div:nth-child(2) span:nth-child(2),
  .tab-pane .addLiquiDiv .main .coinDiv .firstPart div:nth-child(2) span:nth-child(3) {
    color: #3A8DFF;
  }
  .tab-pane .addLiquiDiv .main .coinDiv .second {
    height: 40px;
    width: 90%;
    margin: 0 auto;
  }
  .tab-pane .addLiquiDiv .main .coinDiv .second input {
    float: left;
    width: 60%;
    margin-bottom: 12px;
    padding: 0px 13px;
    height: 40px;
    border-radius: 10px;
    margin-right: 20px;
    font-family: " DINAlternate-Bold, DINAlternate";
    font-weight: bold;
    color: #000000;
    background: linear-gradient(338deg, #F1F5FA 0%, #DEE8F2 100%);
    box-shadow: inset 2px 2px 5px 0px rgba(164, 182, 194, 0.72), inset -2px -2px 4px 0px rgba(255, 255, 255, 0.96);
  }
  .tab-pane .addLiquiDiv .main .coinDiv .second .ifApprove {
    width: 90px;
    height: 40px;
    margin-bottom: 12px;
    float: right;
  }
  .tab-pane .addLiquiDiv .butDiv {
    width: 100%;
  }
  .tab-pane .addLiquiDiv .butDiv button {
    width: 90%;
    margin: 0px auto;
    height: 50px;
    border-radius: 16px;
    color: #fff;
    font-size: 16px;
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .tab-pane .addLiquiDiv {
    height: auto;
    width: 100%;
    position: relative;
  }
  .tab-pane .addLiquiDiv .main {
    width: 95%;
    margin: 0 auto;
    padding-top: 5px;
  }
  .tab-pane .addLiquiDiv .main .coinDiv {
    border-radius: 16px;
    margin-bottom: 18px;
    height: 100px;
    background: linear-gradient(130deg, #ECF3FA 0%, #E3EDF7 100%);
    box-shadow: 8px 8px 30px 0px rgba(128, 152, 176, 0.2), -22px -8px 15px 0px #F3F9FF;
    border-radius: 26px;
  }
  .tab-pane .addLiquiDiv .main .coinDiv .firstPart {
    width: 90%;
    height: 48px;
    margin: 0px auto;
    line-height: 45px;
  }
  .tab-pane .addLiquiDiv .main .coinDiv .firstPart div:nth-child(1) {
    float: left;
  }
  .tab-pane .addLiquiDiv .main .coinDiv .firstPart div:nth-child(1) img {
    width: 30px;
    margin-top: -3px;
    margin-right: 8px;
  }
  .tab-pane .addLiquiDiv .main .coinDiv .firstPart div:nth-child(1) span {
    font-size: 16px;
    font-family: "PingFangSC-Medium, PingFang SC";
    font-weight: 500;
    color: #000000;
    display: inline-block;
  }
  .tab-pane .addLiquiDiv .main .coinDiv .firstPart div:nth-child(2) {
    float: right;
    font-family: "PingFangSC-Regular, PingFang SC";
    font-weight: 400;
  }
  .tab-pane .addLiquiDiv .main .coinDiv .firstPart div:nth-child(2) span:nth-child(1) {
    font-size: 14px;
    color: #000000;
  }
  .tab-pane .addLiquiDiv .main .coinDiv .firstPart div:nth-child(2) span:nth-child(2),
  .tab-pane .addLiquiDiv .main .coinDiv .firstPart div:nth-child(2) span:nth-child(3) {
    color: #3A8DFF;
  }
  .tab-pane .addLiquiDiv .main .coinDiv .second {
    height: 40px;
    width: 90%;
    margin: 0 auto;
  }
  .tab-pane .addLiquiDiv .main .coinDiv .second input {
    float: left;
    width: 60%;
    margin-bottom: 12px;
    padding: 0px 13px;
    height: 40px;
    border-radius: 10px;
    margin-right: 20px;
    font-family: " DINAlternate-Bold, DINAlternate";
    font-weight: bold;
    color: #000000;
    background: linear-gradient(338deg, #F1F5FA 0%, #DEE8F2 100%);
    box-shadow: inset 2px 2px 5px 0px rgba(164, 182, 194, 0.72), inset -2px -2px 4px 0px rgba(255, 255, 255, 0.96);
  }
  .tab-pane .addLiquiDiv .main .coinDiv .second .ifApprove {
    width: 90px;
    height: 40px;
    margin-bottom: 12px;
    float: right;
  }
  .tab-pane .addLiquiDiv .butDiv {
    width: 100%;
  }
  .tab-pane .addLiquiDiv .butDiv button {
    width: 90%;
    margin: 0px auto;
    height: 50px;
    border-radius: 16px;
    color: #fff;
    font-size: 16px;
    display: block;
  }
}
