<div role="tabpanel" class="tab-pane" id="profile">
    <!-- 增加流动性 -->
    <div class="addLiquiDiv">
        <div class="main">
            <div class="coinDiv" *ngFor="let coin of boot.coins;let i=index;">
                <div class="firstPart">
                    <div>
                        <img src="assets/img/coins/{{boot.poolId}}-c{{i}}.png" alt="">
                        <span>{{coin.symbol}}</span>
                    </div>
                    <div>
                        <span>{{'Balance'|translate}}&nbsp;</span>
                        <span>{{boot.balance.coinsBalance[i].toFormat(4,1)}}&nbsp;</span>
                        <!-- <span>{{coin.symbol}}</span> -->
                    </div>
                </div>
                <div class="second">
                    <input type="number" name="{{coin.symbol}}Amt" [ngModel]="amts[i]"
                        (ngModelChange)="amtChange(i,$event)" placeholder="{{'Enter an amount'|translate}}">
                    <button
                        class="ifApprove"
                        [ngClass]="{approve:isApproveEnabled(i),'approve-disabled':!isApproveEnabled(i)||loadStatus===1}"
                        (click)="approve(i)"
                        [disabled]="!isApproveEnabled(i)||loadStatus===1">{{'Approve'|translate}}</button>
                </div>
            </div>
        </div>
        <div class="butDiv">
            <button *ngIf="boot.accounts.length>0" (click)="addLiquidity()"
                [disabled]="!isAddLiquidityBtnEnabled()||loadStatus===1"
                [ngClass]="{'btnAdd': isAddLiquidityBtnEnabled(),'btn-disabled':!isAddLiquidityBtnEnabled()||loadStatus===1}">{{'Add
                Liquidity'|translate}}</button>
            <button *ngIf="boot.accounts.length==0" (click)="connectWallet()">{{'Connect to a
                Wallet'|translate}}</button>
        </div>
    </div>
</div>