<div role="tabpanel" class="tab-pane" id="messages">
    <!-- 取出流动性 -->
   <div class="withdrawLiquiDiv">
     <div class="main">
         <div class="LiquidityRatio">
             <p>流动性比(%)</p>
             <div class="enterDiv">
                 <div class="inputDiv">
                     <input type="number"  placeholder="请输入百分比" >
                 </div>
             </div>
         </div>
         <div class="coin_enterDiv">
           <div class="el-checkbox">
               <div class="coinDiv" *ngFor="let coin of boot.coins;let i=index">
                   <div class="firstPart">
                       <div>
                           <img src="assets/img/coin/HBTC.png" alt="">
                           <span>HBTC</span>
                       </div>
                       <div class="second">
                         <input type="text"
                             placeholder="请输入数量" >
                     </div>
                       <div>
                         <input type="radio">  
                         <label for="daiEabled">全部</label> 
                       </div>
                   </div>
               </div>
           </div>

           <div class="el-checkbox">
             <div class="coinDiv" *ngFor="let coin of boot.coins;let i=index">
                 <div class="firstPart">
                     <div>
                         <img src="assets/img/coin/HBTC.png" alt="">
                         <span>HBTC</span>
                     </div>
                     <div class="second">
                       <input type="text"
                           placeholder="请输入数量" >
                   </div>
                     <div>
                       <input type="radio">  
                       <label for="daiEabled">全部</label> 
                     </div>
                 </div>
             </div>
         </div>

         <div class="el-checkbox">
           <div class="coinDiv" *ngFor="let coin of boot.coins;let i=index">
               <div class="firstPart">
                   <div>
                       <img src="assets/img/coin/HBTC.png" alt="">
                       <span>HBTC</span>
                   </div>
                   <div class="second">
                     <input type="text"
                         placeholder="请输入数量" >
                 </div>
                   <div>
                     <input type="radio">  
                     <label for="daiEabled">全部</label> 
                   </div>
               </div>
           </div>
       </div>
         </div>
     </div>
     <div class="averageDiv">
         <div class="leftDiv">
             <div class="ifOpen">
               <div class="switch-container ">
                 <input  type="checkbox" id="switch" class="switch">
                 <label for="switch"  onclick="test()"></label>    
               </div>
           </div>
           <span>赎回成全部币种</span>
         </div>
     </div>
     <div class="butDiv">
         <button >取出流动性</button>
     </div>
   </div>
 </div>