.myBtn {
  padding: 0.7em;
  vertical-align: middle;
  background: linear-gradient(139deg, #7FB5FF 0%, #3489FF 100%);
  box-shadow: 4px 17px 21px 0px rgba(163, 202, 255, 0.72);
  border-radius: 12px;
  font-size: 12px;
  color: #ffffff;
}
.myBtn-disabled {
  background: #D4DDE9;
  border-radius: 12px;
  font-size: 12px;
  color: #ffffff;
  padding: 0.7em;
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  .tab-pane .withdrawLiquiDiv {
    height: auto;
    width: 95%;
    margin: 0 auto;
    position: relative;
    background-size: 100% 100%;
  }
  .tab-pane .withdrawLiquiDiv .main {
    width: 100%;
    border-radius: 12px;
    padding-top: 5px;
  }
  .tab-pane .withdrawLiquiDiv .main .LiquidityRatio {
    height: 63px;
    margin: 0 0.8em;
    background: linear-gradient(338deg, #F1F5FA 0%, #DEE8F2 100%);
    box-shadow: 2px 2px 13px 0px rgba(164, 182, 194, 0.72), -2px -2px 14px 0px rgba(255, 255, 255, 0.96);
    border-radius: 10px;
    margin-bottom: 10px;
    padding-right: 20PX;
  }
  .tab-pane .withdrawLiquiDiv .main .LiquidityRatio p {
    font-size: 14px;
    float: left;
    color: #FFFFFF;
    line-height: 43px;
    padding-left: 15px;
    font-weight: 500;
    color: #000000;
    line-height: 63px;
  }
  .tab-pane .withdrawLiquiDiv .main .LiquidityRatio .enterDiv {
    float: right;
    width: 50%;
  }
  .tab-pane .withdrawLiquiDiv .main .LiquidityRatio .enterDiv .inputDiv {
    width: 101%;
    display: block;
    margin-bottom: 12px;
    background: #FAFAFA;
    padding: 0px 18px;
    height: 44px;
    margin: 0 auto;
    margin-top: 8px;
    border: 1px solid #E1E5EA;
    border-radius: 10px;
    background: linear-gradient(338deg, #F1F5FA 0%, #DEE8F2 100%);
    box-shadow: inset 2px 2px 5px 0px rgba(164, 182, 194, 0.72), inset -2px -2px 4px 0px rgba(255, 255, 255, 0.96);
  }
  .tab-pane .withdrawLiquiDiv .main .LiquidityRatio .enterDiv .inputDiv input {
    width: 90%;
    background: none;
    height: 44px;
    float: left;
  }
  .tab-pane .withdrawLiquiDiv .main .LiquidityRatio .enterDiv .inputDiv span {
    float: right;
    line-height: 44px;
    font-family: "PingFangSC-Medium, PingFang S";
    font-weight: 500;
    color: #141415;
  }
  .tab-pane .withdrawLiquiDiv .main .coin_enterDiv {
    width: 100%;
    height: auto;
    margin-top: 25px;
    background: linear-gradient(130deg, #ECF3FA 0%, #E3EDF7 100%);
    box-shadow: 8px 11px 17px 0px rgba(128, 152, 176, 0.2), -12px -8px 15px 0px #F3F9FF;
    border-radius: 13px;
    padding-top: 25px;
    padding-bottom: 8px;
  }
  .tab-pane .withdrawLiquiDiv .main .coin_enterDiv .el-checkbox {
    width: 100%;
    margin-bottom: 20px;
  }
  .tab-pane .withdrawLiquiDiv .main .coin_enterDiv .el-checkbox .coinDiv {
    border-radius: 16px;
    margin-bottom: 10px;
  }
  .tab-pane .withdrawLiquiDiv .main .coin_enterDiv .el-checkbox .coinDiv .firstPart {
    width: 90%;
    height: 45px;
    margin: 0px auto;
    line-height: 45px;
  }
  .tab-pane .withdrawLiquiDiv .main .coin_enterDiv .el-checkbox .coinDiv .firstPart div:nth-child(1) {
    float: left;
  }
  .tab-pane .withdrawLiquiDiv .main .coin_enterDiv .el-checkbox .coinDiv .firstPart div:nth-child(1) img {
    width: 23px;
    margin-top: -6px;
    margin-right: 6px;
  }
  .tab-pane .withdrawLiquiDiv .main .coin_enterDiv .el-checkbox .coinDiv .firstPart div:nth-child(1) span {
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #000000;
    display: inline-block;
    width: 60px;
  }
  .tab-pane .withdrawLiquiDiv .main .coin_enterDiv .el-checkbox .coinDiv .firstPart .second {
    display: inline-block;
    margin-left: 18px;
    width: 45%;
  }
  .tab-pane .withdrawLiquiDiv .main .coin_enterDiv .el-checkbox .coinDiv .firstPart .second input {
    width: 100%;
    display: inline-block;
    margin-bottom: 12px;
    background: #FAFAFA;
    padding: 0px 13px;
    height: 40px;
    margin: 0 auto;
    border: 1px solid #E1E5EA;
    border-radius: 10px;
    background: linear-gradient(338deg, #F1F5FA 0%, #DEE8F2 100%);
    box-shadow: inset 2px 2px 5px 0px rgba(164, 182, 194, 0.72), inset -2px -2px 4px 0px rgba(255, 255, 255, 0.96);
  }
  .tab-pane .withdrawLiquiDiv .main .coin_enterDiv .el-checkbox .coinDiv .firstPart div:nth-child(3) {
    float: right;
  }
  .tab-pane .withdrawLiquiDiv .main .coin_enterDiv .el-checkbox .coinDiv .firstPart div:nth-child(3) input {
    width: 16px;
    height: 16px;
    border-radius: 10px;
    border: 1px solid #E1E5EA;
  }
  .tab-pane .withdrawLiquiDiv .main .coin_enterDiv .el-checkbox .coinDiv .firstPart div:nth-child(3) label {
    width: 35px;
    font-size: 14px;
    height: 40px;
    font-weight: normal;
    margin-left: 5px;
    line-height: 43px;
    margin-bottom: 0px;
    font-weight: 400;
    color: #33404D;
    float: right;
  }
  .tab-pane .withdrawLiquiDiv .averageDiv {
    width: 100%;
    height: 48px;
    margin-top: 20px;
  }
  .tab-pane .withdrawLiquiDiv .averageDiv .leftDiv {
    float: right;
    height: 28px;
    border-radius: 15px;
    padding-right: 3px;
  }
  .tab-pane .withdrawLiquiDiv .averageDiv .leftDiv span {
    font-weight: 400;
    color: #33404D;
    float: right;
    line-height: 28px;
    margin-right: 10px;
    font-size: 14px;
  }
  .tab-pane .withdrawLiquiDiv .averageDiv .leftDiv .ifOpen {
    float: right;
    /* 开关的大小*/
    /*设置checkbox不显示*/
    /*设置label标签为椭圆状*/
    /*在label标签内容之前添加如下样式，形成一个未选中状态*/
    /*选中后，未选中样式消失*/
    /*选中后label的背景色改变*/
    /*选中后，未选中样式消失*/
    /*选中后label的背景色改变*/
  }
  .tab-pane .withdrawLiquiDiv .averageDiv .leftDiv .ifOpen .switch-container {
    height: 24px;
    width: 48px;
  }
  .tab-pane .withdrawLiquiDiv .averageDiv .leftDiv .ifOpen .switch {
    display: none;
  }
  .tab-pane .withdrawLiquiDiv .averageDiv .leftDiv .ifOpen .switch-container label {
    display: block;
    background: #DEE8F2;
    box-shadow: 2px 2px 5px 0px rgba(164, 182, 194, 0.72), -2px -2px 3px 0px rgba(255, 255, 255, 0.23);
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 25px;
    position: relative;
  }
  .tab-pane .withdrawLiquiDiv .averageDiv .leftDiv .ifOpen .switch-container label:before {
    content: '';
    display: block;
    border-radius: 25px;
    height: 100%;
    width: 24px;
    background: #F4F9FF;
    box-shadow: 0px 49px 70px -23px rgba(98, 143, 173, 0.29);
    position: absolute;
    left: 0px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.08);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .tab-pane .withdrawLiquiDiv .averageDiv .leftDiv .ifOpen #switch:checked ~ label:before {
    left: 24px;
  }
  .tab-pane .withdrawLiquiDiv .averageDiv .leftDiv .ifOpen #switch:checked ~ label {
    background-color: #3A8DFF;
  }
  .tab-pane .withdrawLiquiDiv .averageDiv .leftDiv .ifOpen #switch1:checked ~ label:before {
    left: 24px;
  }
  .tab-pane .withdrawLiquiDiv .averageDiv .leftDiv .ifOpen #switch1:checked ~ label {
    background-color: #4dbd74;
  }
  .tab-pane .withdrawLiquiDiv .butDiv button {
    width: 90%;
    margin: 0px auto;
    height: 50px;
    background: #2480FF;
    border-radius: 16px;
    color: #fff;
    font-size: 16px;
    display: block;
    background: linear-gradient(139deg, #7FB5FF 0%, #3489FF 100%);
    box-shadow: 4px 17px 21px 0px rgba(163, 202, 255, 0.72);
  }
}
@media screen and (max-width: 768px) {
  .tab-pane .withdrawLiquiDiv {
    height: auto;
    width: 95%;
    margin: 0 auto;
    position: relative;
    background-size: 100% 100%;
  }
  .tab-pane .withdrawLiquiDiv .main {
    width: 100%;
    border-radius: 12px;
    padding-top: 5px;
  }
  .tab-pane .withdrawLiquiDiv .main .LiquidityRatio {
    height: 63px;
    margin: 0 0.8em;
    background: linear-gradient(338deg, #F1F5FA 0%, #DEE8F2 100%);
    box-shadow: 2px 2px 5px 0px rgba(164, 182, 194, 0.72), -2px -2px 14px 0px rgba(255, 255, 255, 0.96);
    border-radius: 10px;
    margin-bottom: 10px;
    padding-right: 20PX;
  }
  .tab-pane .withdrawLiquiDiv .main .LiquidityRatio p {
    font-size: 14px;
    float: left;
    color: #FFFFFF;
    line-height: 43px;
    padding-left: 15px;
    font-weight: 500;
    color: #000000;
    line-height: 63px;
  }
  .tab-pane .withdrawLiquiDiv .main .LiquidityRatio .enterDiv {
    float: right;
    width: 50%;
  }
  .tab-pane .withdrawLiquiDiv .main .LiquidityRatio .enterDiv .inputDiv {
    width: 101%;
    display: block;
    margin-bottom: 12px;
    background: #FAFAFA;
    padding: 0px 18px;
    height: 44px;
    margin: 0 auto;
    margin-top: 8px;
    border: 1px solid #E1E5EA;
    border-radius: 10px;
    background: linear-gradient(338deg, #F1F5FA 0%, #DEE8F2 100%);
    box-shadow: inset 2px 2px 5px 0px rgba(164, 182, 194, 0.72), inset -2px -2px 4px 0px rgba(255, 255, 255, 0.96);
  }
  .tab-pane .withdrawLiquiDiv .main .LiquidityRatio .enterDiv .inputDiv input {
    width: 90%;
    background: none;
    height: 44px;
    float: left;
  }
  .tab-pane .withdrawLiquiDiv .main .LiquidityRatio .enterDiv .inputDiv span {
    float: right;
    line-height: 44px;
    font-family: "PingFangSC-Medium, PingFang S";
    font-weight: 500;
    color: #141415;
  }
  .tab-pane .withdrawLiquiDiv .main .coin_enterDiv {
    width: 100%;
    height: auto;
    margin-top: 18px;
    background: linear-gradient(130deg, #ECF3FA 0%, #E3EDF7 100%);
    box-shadow: 8px 8px 30px 0px rgba(128, 152, 176, 0.2), -12px -8px 15px 0px #F3F9FF;
    border-radius: 13px;
    padding-top: 25px;
    padding-bottom: 8px;
  }
  .tab-pane .withdrawLiquiDiv .main .coin_enterDiv .el-checkbox {
    width: 100%;
    margin-bottom: 20px;
  }
  .tab-pane .withdrawLiquiDiv .main .coin_enterDiv .el-checkbox .coinDiv {
    border-radius: 16px;
    margin-bottom: 10px;
  }
  .tab-pane .withdrawLiquiDiv .main .coin_enterDiv .el-checkbox .coinDiv .firstPart {
    width: 90%;
    height: 45px;
    margin: 0px auto;
    line-height: 45px;
  }
  .tab-pane .withdrawLiquiDiv .main .coin_enterDiv .el-checkbox .coinDiv .firstPart div:nth-child(1) {
    float: left;
  }
  .tab-pane .withdrawLiquiDiv .main .coin_enterDiv .el-checkbox .coinDiv .firstPart div:nth-child(1) img {
    width: 23px;
    margin-top: -6px;
    margin-right: 6px;
  }
  .tab-pane .withdrawLiquiDiv .main .coin_enterDiv .el-checkbox .coinDiv .firstPart div:nth-child(1) span {
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #000000;
    display: inline-block;
    width: 60px;
  }
  .tab-pane .withdrawLiquiDiv .main .coin_enterDiv .el-checkbox .coinDiv .firstPart .second {
    display: inline-block;
    margin-left: 18px;
    width: 45%;
  }
  .tab-pane .withdrawLiquiDiv .main .coin_enterDiv .el-checkbox .coinDiv .firstPart .second input {
    width: 100%;
    display: inline-block;
    margin-bottom: 12px;
    background: #FAFAFA;
    padding: 0px 13px;
    height: 40px;
    margin: 0 auto;
    border: 1px solid #E1E5EA;
    border-radius: 10px;
    background: linear-gradient(338deg, #F1F5FA 0%, #DEE8F2 100%);
    box-shadow: inset 2px 2px 5px 0px rgba(164, 182, 194, 0.72), inset -2px -2px 4px 0px rgba(255, 255, 255, 0.96);
  }
  .tab-pane .withdrawLiquiDiv .main .coin_enterDiv .el-checkbox .coinDiv .firstPart div:nth-child(3) {
    float: right;
  }
  .tab-pane .withdrawLiquiDiv .main .coin_enterDiv .el-checkbox .coinDiv .firstPart div:nth-child(3) input {
    width: 16px;
    height: 16px;
    border-radius: 10px;
    border: 1px solid #E1E5EA;
  }
  .tab-pane .withdrawLiquiDiv .main .coin_enterDiv .el-checkbox .coinDiv .firstPart div:nth-child(3) label {
    width: 35px;
    font-size: 14px;
    height: 40px;
    font-weight: normal;
    margin-left: 5px;
    line-height: 43px;
    margin-bottom: 0px;
    font-weight: 400;
    color: #33404D;
    float: right;
  }
  .tab-pane .withdrawLiquiDiv .averageDiv {
    width: 100%;
    height: 48px;
    margin-top: 20px;
  }
  .tab-pane .withdrawLiquiDiv .averageDiv .leftDiv {
    float: right;
    height: 28px;
    border-radius: 15px;
    padding-right: 3px;
  }
  .tab-pane .withdrawLiquiDiv .averageDiv .leftDiv span {
    font-weight: 400;
    color: #33404D;
    float: right;
    line-height: 28px;
    margin-right: 10px;
    font-size: 14px;
  }
  .tab-pane .withdrawLiquiDiv .averageDiv .leftDiv .ifOpen {
    float: right;
    /* 开关的大小*/
    /*设置checkbox不显示*/
    /*设置label标签为椭圆状*/
    /*在label标签内容之前添加如下样式，形成一个未选中状态*/
    /*选中后，未选中样式消失*/
    /*选中后label的背景色改变*/
    /*选中后，未选中样式消失*/
    /*选中后label的背景色改变*/
  }
  .tab-pane .withdrawLiquiDiv .averageDiv .leftDiv .ifOpen .switch-container {
    height: 24px;
    width: 48px;
  }
  .tab-pane .withdrawLiquiDiv .averageDiv .leftDiv .ifOpen .switch {
    display: none;
  }
  .tab-pane .withdrawLiquiDiv .averageDiv .leftDiv .ifOpen .switch-container label {
    display: block;
    background: #DEE8F2;
    box-shadow: 2px 2px 5px 0px rgba(164, 182, 194, 0.72), -2px -2px 3px 0px rgba(255, 255, 255, 0.23);
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 25px;
    position: relative;
  }
  .tab-pane .withdrawLiquiDiv .averageDiv .leftDiv .ifOpen .switch-container label:before {
    content: '';
    display: block;
    border-radius: 25px;
    height: 100%;
    width: 24px;
    background: #F4F9FF;
    box-shadow: 0px 49px 70px -23px rgba(98, 143, 173, 0.29);
    position: absolute;
    left: 0px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.08);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .tab-pane .withdrawLiquiDiv .averageDiv .leftDiv .ifOpen #switch:checked ~ label:before {
    left: 24px;
  }
  .tab-pane .withdrawLiquiDiv .averageDiv .leftDiv .ifOpen #switch:checked ~ label {
    background-color: #3A8DFF;
  }
  .tab-pane .withdrawLiquiDiv .averageDiv .leftDiv .ifOpen #switch1:checked ~ label:before {
    left: 24px;
  }
  .tab-pane .withdrawLiquiDiv .averageDiv .leftDiv .ifOpen #switch1:checked ~ label {
    background-color: #4dbd74;
  }
  .tab-pane .withdrawLiquiDiv .butDiv button {
    width: 90%;
    margin: 0px auto;
    height: 50px;
    background: #2480FF;
    border-radius: 16px;
    color: #fff;
    font-size: 16px;
    display: block;
    background: linear-gradient(139deg, #7FB5FF 0%, #3489FF 100%);
    box-shadow: 4px 17px 21px 0px rgba(163, 202, 255, 0.72);
  }
}
