<div class="assetDiv">
    <div class="main">
        <div class="tittle">
            <div></div>
            <p>Pool's Reward Info</p>
        </div>
        <div class="consinfo">
            <ul>
                <li>
                    <p><span class="coinName">renBTC:</span></p>
                    <span>20%</span>
                </li>
            </ul>
        </div>
        <div class="sum">
            <div>LP farming Percent</div>
            <div>89,801.3964</div>
        </div>
        <div class="sum">
            <div>Volume Percent</div>
            <div>9,501.3964</div>
        </div>
    </div>
</div>