/* You can add global styles to this file, and also import other style files */
html body {
  margin: 0;
  background: #EAF2F9;
}
html body input::-webkit-input-placeholder {
  font-weight: 400;
  color: #7E92A6;
}
html body input:-moz-placeholder {
  font-weight: 400;
  color: #7E92A6;
}
html body input::-moz-placeholder {
  font-weight: 400;
  color: #7E92A6;
}
html body input:-ms-input-placeholder {
  font-weight: 400;
  color: #7E92A6;
}
html body p {
  margin: 0;
}
html body .hide {
  display: none;
}
html body button:focus {
  outline: none;
}
html body ul {
  padding: 0;
  margin: 0;
}
html body li {
  list-style-type: none;
}
