 <!-- deposit lp AND reward  -->
 <div class="stakeMaxDiv">
  <div class="stake_reward">
    <div class="main" style="margin-top: 20px;">
      <div class="tittle">
          <!-- <div></div> -->
          <p>质押和奖励</p>
      </div>
      <div class="depAndWithd">
        <div class="depositDiv">
          <p class="textDiv">
              <span class="text_span">renBTC</span>
              <span class="val_span">4578.22</span>
          </p>
          <div class="inputDiv">
              <div>
                  <input type="number" name="depositPercent"
                  placeholder="请输入百分比">
                  <span class="percentage">%</span>
              </div>
              <button>Approve
                  LP</button>
              <!-- <button *ngIf="boot.accounts.length>0&&!needApproveLP" [ngClass]="{'myBtn':loadStatus===0||loadStatus===2,'myBtn-disabled': loadStatus===1}" [disabled]="loadStatus===1" (click)="depositLP()">Deposit
                  LP</button>
              <button *ngIf="boot.accounts.length==0" (click)="connectWallet()" >{{"Connect to a
                  Wallet"|translate}}</button> -->
          </div>
      </div>
      <div class="withdrawdiv">
          <p class="textDiv">
              <span class="text_span">Staking renBTC</span>
              <span class="val_span">765428.243</span>
          </p>
          <div class="inputDiv">
              <div>
                  <input type="number" name="withdrawLPPercent" 
                      placeholder="请输入百分比">
                  <!-- <span class="allBtn">ALL</span> -->
                      <span class="percentage">%</span>
              </div>
              <button>Withdraw LP</button>
              <!-- <button *ngIf="boot.accounts.length==0" (click)="connectWallet()">{{"Connect to a
                  Wallet"|translate}}</button> -->

              <!-- <div class="butDiv" style="display:none">
                  <button *ngIf="boot.accounts.length>0" [ngClass]="{'myBtn':loadStatus===0||loadStatus===2,'myBtn-disabled': loadStatus===1}" [disabled]="loadStatus===1" (click)="withdrawAllLP()">Withdraw All LP</button>
                  <button *ngIf="boot.accounts.length==0" (click)="boot.connectWallet()" class="myBtn">{{"Connect to a
                      Wallet"|translate}}</button>
              </div> -->
          </div>
      </div>
      </div>

      <div class="rewardDiv">
          <p class="textDiv">
              <span class="val_span">7645.432</span>
              <span class="text_span">Pending renBTC</span>
          </p>
          <div class="btnDiv">
          <button >Get Pending renBTC</button>
          <!-- <button *ngIf="boot.accounts.length==0" (click)="connectWallet()" class="myBtn">{{"Connect to a
              Wallet"|translate}}</button> -->
          </div>
      </div>
    </div>
  </div>  

  <div class="assetDiv">
    <div class="main">
        <div class="tittle">
            <div></div>
            <p>User's Info</p>
        </div>
        <div class="sum" >
            <div>liquiditySymbol</div>
            <div>847.244</div>
        </div>
        <div class="sum" >
          <div>liquiditySymbol</div>
            <div>847.244</div>
        </div>
        <div class="sum" >
          <div>liquiditySymbol</div>
          <div>847.244</div>
        </div>
        <div class="sum" >
          <div>liquiditySymbol</div>
          <div>847.244</div>
        </div>
        <div class="sum" >
          <div>liquiditySymbol</div>
          <div>847.244</div>
        </div>
        <div class="sum" >
          <div>liquiditySymbol</div>
          <div>847.244</div>
        </div>
        <div class="sum" >
          <div>liquiditySymbol</div>
          <div>847.244</div>
        </div>
        <div class="sum" >
          <div>liquiditySymbol</div>
          <div>847.244</div>
        </div>
        <div class="sum" >
          <div>liquiditySymbol</div>
          <div>847.244</div>
        </div>
        <div class="sum" >
          <div>liquiditySymbol</div>
          <div>847.244</div>
        </div>
<!-- 
        <div class="sum">
            <div>{{boot.liquiditySymbol}}:</div>
            <div>{{boot.balance.lp.toFormat(4,1)}}</div>
        </div>
        <div class="sum">
            <div>Volume Reward {{boot.tokenSymbol}}:</div>
            <div>{{boot.balance.volReward.toFormat(4,1)}}</div>
        </div>
        <div class="sum">
            <div>Farming Reward {{boot.tokenSymbol}}:</div>
            <div>{{boot.balance.farmingReward.toFormat(4,1)}}</div>
        </div>
        <div class="sum">
            <div>{{boot.tokenSymbol}}:</div>
            <div>{{boot.balance.tokenBalance.toFormat(4,1)}}</div>
        </div>
        <div class="sum">
            <div>Staking LP:</div>
            <div>{{boot.balance.stakingLP.toFormat(4,1)}}</div>
        </div>
        <div class="sum">
            <div>Volume:</div>
            <div>{{boot.balance.volume.toFormat(4,1)}}</div>
        </div>
        <div class="sum">
            <div>Pending Reward:</div>
            <div>{{boot.balance.pendingToken.toFormat(4,1)}}</div>
        </div> -->
        <!-- <div class="sum">
            <div>Reward Debt:</div>
            <div>{{boot.balance.rewardDebt.toFormat(4,1)}}</div>
        </div> -->
    </div>
</div>

<div class="assetDiv">
  <div class="main">
      <div class="tittle">
          <div></div>
          <p>Pool's Reward Info</p>
      </div>
      <div class="consinfo">
          <ul>
              <li>
                  <p><span class="coinName">renBTC:</span></p>
                  <span>20%</span>
              </li>
          </ul>
      </div>
      <div class="sum">
          <div>LP farming Percent</div>
          <div>89,801.3964</div>
      </div>
      <div class="sum">
          <div>Volume Percent</div>
          <div>9,501.3964</div>
      </div>
  </div>
</div>

 </div>
 